body,
html{
    font-family: SFProText-Light;
    font-size: 15px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    }

@font-face {
    font-family: Lucca;
    src: url(Lucca-Regular.otf);
}

@font-face {
    font-family: SFProText-Light;
    src: url(SF-Pro-Display-Light.otf);
}

@font-face {
    font-family: SFProText-Medium;
    src: url(SF-Pro-Display-Medium.otf);
}

@font-face {
    font-family: SFProText-Semibold;
    src: url(SF-Pro-Display-Semibold.otf);
}

a {
    color: rgba(125, 152, 151, 1);
    text-decoration: none;
}

a:hover {
    color: rgba(175, 213, 213, 1);
    text-decoration: none;
}

/* LIJEVI DIO */

.header {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    font-family: Lucca;
    text-align: center;
}

.header ul,
.header ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.header li a {
    line-height: 30px;
    margin: 0 5px;
    padding: 5px;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    position: relative;
}

.header li a:after,
.header li a.active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    -webkit-transition-duration: .6s;
         -o-transition-duration: .6s;
            transition-duration: .6s;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
}

.header li a:hover:after,
.header li a.active:after {
    left: 20%;
    width: 60%;
    -webkit-transition-duration: .6s;
         -o-transition-duration: .6s;
            transition-duration: .6s;
}

.bg {
    position: fixed;
    top: 20px;
    left: 20px;
    width: calc(50vw - 30px);
    height: calc(100% - 40px);
    border-radius: 5px;
    background: url(krenarsala.mp4);
    background-size: cover;
    background-position: center 35%;
    -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
     box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
    -webkit-transition-duration: .6s;
         -o-transition-duration: .6s;
            transition-duration: .6s;
}

a.logo {
    position: relative;
    top: 20px;
    left: calc(50% - 82px);
    width: 164px;
    height: 35px;
    display: block;
    background: url(sala.png) no-repeat;
    background-position: left center;
    background-size: auto 35px;
}

@media screen and (max-width:1110px) {
    .header {
        width: calc(100% - 190px);
        padding: 0 75px;
    }
    .header li a:after,
    .header li a.active:after {
        bottom: 1px;
    }
}

@media screen and (max-width:960px) {
    .header {
        width: calc(100% - 120px);
        padding: 0 40px;
    }
}

@media screen and (max-width:820px) {
    .header {
        width: calc(100% - 80px);
        padding: 0 20px;
    }
}

@media screen and (max-width:740px) {
    .bg{
        position: relative;
        width: calc(100% - 40px);
        height: 40vh;
    }
    .header {
        width: calc(100% - 40px);
        padding: 0;
    }
}

@media screen and (max-width:550px) {
    .header {
        width: calc(100% - 190px);
        padding: 0 75px;
    }
}

@media screen and (max-width:480px) {
    .header {
        width: calc(100% - 120px);
        padding: 0 40px;
    }
}

@media screen and (max-width:420px) {
    .header {
        width: calc(100% - 40px);
        padding: 0;
    }
    .header ul li{
        display: block;
    }
}

/* DESNI DIO */

#profile {
    margin: auto;
    padding-top: 20px;
    position: relative;
    top: 0px;
    margin-left: calc(50vw - 10px);
    width: calc(50vw + 10px);
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    -webkit-animation: onLoad .4s ease-in;
    animation: onLoad .4s ease-in;
}

@-webkit-keyframes onLoad {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.98, .98, .98);
        transform: scale3d(.98, .98, .98);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes onLoad {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.98, .98, .98);
        transform: scale3d(.98, .98, .98);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

#instafeed {
    margin: 10px;
    position: relative;
    width: calc(50vw - 10px);
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    -webkit-animation: onLoad .4s ease-in;
    animation: onLoad .4s ease-in;
}

a.ig_image{
    margin: 10px;
    padding-top: calc(100% - 20px);
    background: rgba(207, 205, 200, 1);
    border-radius: 5px;
    -webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, .2);
    box-shadow: 2px 7px 20px rgba(0, 0, 0, .2);
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
}

.profile-box {
    text-align: center;
    padding: 40px 0;
}

.profile-box img {
    width: 200px; height: 200px;
    border-radius: 200px;
}

.about-me{
    padding: 20px;
    text-align: center;
}

@media screen and (max-width:740px) {
#profile {
    margin: auto;
    margin-top: 20px;
    width: calc(100vw - 40px);
}
#instafeed {
    width: calc(100vw - 20px);
    margin-left: -10px;
}
}

@media screen and (max-width:860px) {
#instafeed {
    grid-template-columns: 50% 50%;
}
}

@media screen and (max-width:740px) {
#instafeed {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
}
}

@media screen and (max-width:500px) {
#instafeed {
    grid-template-columns: 50% 50%;
}
}
